body {
  font-family: "Monda", sans-serif;
  background-color: rgb(143, 136, 136);
}
h1 {
  text-align: center;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  color: white;
}
#btn {
  width: 100px;
  height: 40px;
  display: block;
  margin: 0 auto;
  background-color: #b5b4b3;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
#priklad,
#passLength {
  width: 150px;
  height: 25px;
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
  border-color: #7e7b78;
}

#passLength,
#number,
#lower,
#upper,
#symbol {
  margin: 20px;
  color: black;
}

#priklad {
  padding-bottom: 15px;
  width: 330px;
  height: 25px;
  border-radius: 20px;
  border-color: #7b7772;
}
